@import "../../../../styles.scss";

.right-panel {
  height: 100px;
  width: 200px;
  // background-color: $app-blue;
  display: inline-block;
  margin: 25px 0px;
  position: absolute;
  right: 0;
  top: 60px;
}

/* Media queries begin here */
@media only screen and (max-width: 600px) {
  .right-panel {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
