@import "../../../../styles.scss";

#footer {
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  // height: 40px;
  display: flex;
  // align-items: center;
  background-color: $app-blue;
  color: white;
  font-weight: 600;
  padding: 0px 15px;
  position: fixed;
  bottom: 0;

  #timestamp {
    text-align: right;
  }
}

/* Media queries begin here */
@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  #mid-footer {
    width: 0;
    display: none;
  }
  #copyright {
    width: 50%;
  }
  #timestamp {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
