@import "../../../../styles.scss";

#footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: $app-blue;
    color: white;
    font-weight: 600;
    padding: 0px 15px;
    position: absolute;
    bottom: 0;
}