<div class="toolbar" role="banner">
    <div class="width-33 sbs-div" id="logo-div">
      <div class="sbs-div">
        <img width="25" alt="i Logo" src="{{ilogo}}" style="margin: 0px 0px 0px 10px;" />
        <img width="25" alt="g Logo" src="{{glogo}}" style="margin: 0px 10px 0px 0px;" />
      </div>
      <div class="sbs-div">
        <a href="" style="font-size: 24px;">{{title}}</a>
      </div>
    </div>
    <div class="width-33 sbs-div" id="env">
      <b id="env">{{environment}}</b>
    </div>
    <div class="width-33 sbs-div" id="close-burger">
      <div class="width-25 sbs-div hover-shadow">
        <a routerLink="" routerLintActive="active">HOME</a>
      </div>
      <div class="width-25 sbs-div hover-shadow">
        <a href="#about-us">ABOUT US</a>
      </div>
      <div class="width-25 sbs-div hover-shadow">
        <a href="#contact-us">CONTACT US</a>
      </div>
      <div class="width-25 sbs-div hover-shadow" id="user">
        <!-- <i class="fa fa-user"></i> -->
        <a routerLink="login" routerLinkActive="active" href="/login"><img src="{{userIcon}}" width="25" alt="User" /></a>
      </div>
    </div>
  </div>