@import "../../../styles.scss";

* {
  color: $app-blue;
}

.outer-container {
  #registerForm {
    background-color: white;
    box-shadow: 5px 5px 10px $grey-shadow;
    border-radius: 5px;
    padding: 20px 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    h2 {
      text-align: center;
    }

    .textbox {
      display: block;
      margin: 10px auto 5px auto;
    }

    .button {
      color: $app-white;
      font-size: 18px;
      display: block;
      margin: 20px auto 20px auto;
      width: 50%;
    }
  }
}
