<div class="outer-container">
    <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()" id="registerForm">
        <h2>REGISTRATION</h2>
        <br>
        <p *ngIf="!!registrationErr" class="errtxt">{{registrationErr}}</p>
        <br>
        <input type="text" formControlName="firstname" name="fname" id="fname" class="textbox"
            placeholder="Enter firstname" size="30" />
        <label
            *ngIf="(registerationForm.get('firstname').touched && registerationForm.get('firstname').pristine) && registerationForm.get('firstname').status === 'INVALID'"
            class="errtxt">This field is required</label>
        <input type="text" formControlName="lastname" name="lname" id="lname" class="textbox"
            placeholder="Enter lastname" size="30" />
        <!-- <label *ngIf="lastname.hasError" class="errtxt">This field is required</label> -->
        <input type="tel" formControlName="mobileNum" name="mobile" id="mobile" class="textbox"
            placeholder="Mobile, eg. 9999999999" size="30" />
        <!-- <label *ngIf="mobileNum.hasError" class="errtxt">This field is required</label> -->
        <input type="email" formControlName="email" name="email" id="email" class="textbox"
            placeholder="Email, eg. paul@gmail.com" maxlength="50" size="30" />
        <!-- <label *ngIf="email.hasError" class="errtxt">This field is required</label> -->
        <input type="password" formControlName="password" name="pass" id="pass" class="textbox"
            placeholder="Password, atleast 8 characters" minlength="8" size="30" />
        <!-- <label *ngIf="password.hasError" class="errtxt">This field is required</label> -->
        <input type="password" formControlName="confirmPassword" name="confPass" id="confPass" class="textbox"
            placeholder="Confirm password" minlength="8" size="30" />
        <!-- <label *ngIf="confirmPassword.hasError" class="errtxt">Password don't match</label> -->
        <button type="submit" class="button">Register</button>
    </form>
</div>