@import "../../../styles.scss";

* {
    color: $app-black;
}
#registerForm {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;

    .textbox {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        color: $app-white;
        font-size: 18px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
