<!-- Title bar -->
<title-bar></title-bar>
<!-- DISCLAIMER -->
<marquee *ngIf="isProd" id="disclaimer" direction="left" scrollamount="5">
    DISCLAIMER: This site has been purely built for educational purpose of the developer. No copyright infringement
    intended.
</marquee>
<!-- Left Panel -->
<left-panel></left-panel>
<!-- Right Panel -->
<right-panel></right-panel>
<!-- Main content -->
<div class="router-outlet">
    <div>
        <router-outlet></router-outlet>
    </div>
    <div id="about-us">
        <hr class="divider">
        By default, the width and height of an element is calculated like this:width + padding + border = actual width
        of an element height + padding + border = actual height of an element This means: When you set the width/height
        of an element, the element often appears bigger than you have set (because the element's border and padding are
        added to the element's specified width/height). The following illustration shows two elements with the same
        specified width and height:
    </div>
    <div id="contact-us">
        <hr class="divider">
        Contact us on 
		<a href="https://www.facebook.com/nilesh.suryanarayan.9/" style="color: #db0011" target="_blank">Facebook</a> 
		&nbsp;
		<a href="https://www.instagram.com/nileshsuryanarayan/" style="color: #db0011" target="_blank">Instagram</a>
    </div>
</div>
<div id="pre-footer"></div>
<!-- App footer -->
<app-footer></app-footer>