<div class="outer-container">
    <div class="width-70"></div>
    <div class="width-30">
        <h2>LOGIN</h2>
        <p>Some lorem ipsum text</p>
        <input type="text" name="username" id="uname" class="textbox" placeholder="Enter username" />
        <input type="password" name="password" id="pass" class="textbox" placeholder="Enter password" />
        <button name="login" class="button"> Login</button>
        <p>Not a user?<a href="#">Register</a> here</p>
    </div>
</div>