<div class="outer-container">
    <div class="width-70">
        <b *ngIf="isLoading" class="status">{{status}}</b>
        <b *ngIf="!isLoading && error!=null" class="status">{{status}}</b>
        <div *ngIf="isLoading">
            <loading-anim></loading-anim>
        </div>
        <div *ngIf="!isLoading && users">
            <div *ngFor='let user of users' class='user-display'>
                <p (click)="fillLogin(user)">{{user.firstname|uppercase}}&nbsp;{{user.lastname|uppercase}}</p>
            </div>
        </div>
    </div>
    <div class="width-30">
        <h2>LOGIN</h2>
        <p>Some lorem ipsum text</p>
        <form>
            <input type="text" [(ngModel)]="username" name="username" id="uname" class="textbox"
                placeholder="Enter username" value="{{username}}" />
            <input type="password" [(ngModel)]="password" name="password" id="pass" class="textbox"
                placeholder="Enter password" value="{{password}}" />
            <button name="login" class="button" (click)="onClickLogin($event)"> Login</button>
        </form>
        <p>Not a user?&nbsp;<a routerLinkActive="active" routerLink="/register" href="/register">Register</a> here</p>
    </div>
</div>